name: mg

channels:
- conda-forge
- metagraph

dependencies:
# dev environment
  - python=3.8
  - coverage
  - pytest
  - pytest-cov
  - black

# documentation
  - sphinx=3.0.4
  - nbsphinx
  - notebook
  - conda-forge::pydata-sphinx-theme
  - pip
  - pip:
      - rst2pdf

# dependencies (so setup.py develop doesn't pip install them)
  - metagraph::mlir
  - metagraph::pymlir
  - llvmlite
  - donfig
  - pygments
  - cython
  - panel
  - bokeh<2.3  # temp restriction until panel/bokeh bugs are worked out
  - cmake >= 3.13.4
  - ninja
  - lit
