name: mg

channels:
- conda-forge
- metagraph

dependencies:
# dev environment
  - python=3.8
  - coverage
  - pytest
  - pytest-cov
  - black


# dependencies (so setup.py develop doesn't pip install them)
  - metagraph/label/dev::mlir # temp restriction to use metagraph dev label
  - numpy
  - pymlir
  - llvmlite
  - donfig
  - pygments
  - cython
